nav{
    background-color: var(--bg-secundary);
    height: 8vh;
    width: 100%;
    font-size: 1.5rem;
}

.navbar-list{
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-element{
    width: 100%;
}

.navbar-element:first-child{
    font-size: 30px;
}

.navbar-element:last-child{
    width: auto;
    padding-right: 8vh;
}
