nav{
    background-color: var(--bg-secundary);
    height: 12vh;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    font-size: 1.5rem;
}

.navbar-list{
    display: flex;
    align-items: center;
}

.navbar-element{
    margin: auto;
    background-color: DA0037;
}
