nav{
    background-color: var(--bg-secundary);
    position: fixed;
    transition: width 200ms ease;
}

.navbar-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-element{
    width: 100%;
}

.nav-element:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    color: var(--text-primary);
    background-color: var(--highlight);
}

.fabar{
    fill: var(--bg-primary);
    transition: var(--transition-speed);
}

nav:hover .fabar{
    fill: var(--text-secundary);
}


@media only screen and (max-width: 1000px) {
    nav{
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .navbar-list{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
        height: 4rem;
    }

    main{
        margin: 0;
    }
}

/* large screen */
@media only screen and (min-width: 1000px) {
    nav{
        top: 0;
        height: 100vh;
        width: 5rem;
    }

   nav:hover{
        width: 16rem;
    }

   nav:hover .link-text{
        display: inline;
        color: var(--text-primary);
        transition: opacity var(--transition-speed);
    }
}