:root {
	font-size: 16px;
	--bg-primary: #180A0A;
	--bg-secundary: #711A75;
	--text-primary: #fdd1df;
	--text-secundary: #ffd5e2;
	--highlight: #F582A7;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-color: var(--bg-primary);
	color: var(--text-primary);
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg-secundary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}