:root {
	font-size: 16px;
	--bg-primary: #180A0A;
	--bg-secundary: #711A75;
	--text-primary: #fdd1df;
	--text-secundary: #fff2f6;
	--highlight: #F582A7;
	--transition-speed: 600ms;
	font-family: -apple-system, BlinkMacSystemFont,'Roboto',sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background-color: var(--bg-primary);
	color: var(--text-primary);
}

main {
	margin-left: 5rem;
	padding: 1rem;
	margin-right: 5rem;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg-secundary);
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-secundary);
}